{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>
        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>
        {% comment %} <p class='text-2xl font-bold grid place-items-center mb-8'>About Me</p> {% endcomment %}
        <p class='text-justify'>
            &#128075; Hi,<br><br>

            My name is Ashish and I am a highly motivated and experienced developer with a passion for creating innovative solutions for the internet.<br><br>
            
            After completing my schooling in 2021, I have chosen to further my education in Computer Science while concurrently taking on freelance projects and blogging to expand my skillset. I possess a diverse range of technical knowledge and experience, including proficiency in programming languages such as Python, HTML, CSS, Javascript and SQL, as well as experience with frameworks such as Tailwind CSS and Django.<br><br>
            
            I have applied these skills to develop a number of successful real-world applications such as a password manager, antivirus application, and full-stack blog website. Here are my <span class='group text-cyan-200'><a href='/projects' class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out'>projects</a></span> in action.<br><br>
            
            I am continuously seeking new opportunities to expand my knowledge and improve my abilities as a developer, in order to assist clients in achieving their project goals.
            {% comment %} I'm Ashish. I am passionate about developing things for the internet. This passion led me to learn various technologies such as Python, HTML, CSS, Javascript and so on.<br><br>

            After completing my schooling in 2021, I looked forward to pursue further studies in Computer Science. Part time I started Freelancing, Blogging and learning various programming languages. I learned HTML, CSS, Javascript, Python, SQL and various CSS Frameworks such as Tailwind CSS and Python Libraries such as Django.<br><br>

            Using these skills I developed various real world applications such as Passsave - Password Manager using Python, PyShiels - Antivirus Application using Python,Full Stack Blogging Website and more. Checkout more projects on Projects page.<br><br>

            Currently I am extending my learnings to be a skillled developer who can assist you in your projects. {% endcomment %}
        </p>
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Skills</p>
            {% comment %} <p class='text-2xl font-bold grid place-items-center mb-8'>My Skills</p> {% endcomment %}
            <div class='grid grid-cols-1 md:grid-cols-2 md:space-x-4 lg:space-x-10'>
                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Inspiration</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="html bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Humour</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="js bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Talent fou</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="sql bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>

                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">CSS</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="css bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="progress-bar text-base font-medium my-3">Python</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="py bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        
        .progress-bar {
            animation: progress-bar-animation 1s normal forwards;
        }
        @keyframes progress-bar-animation {
            0%   {  width: 0%; }
            100% {  width: 100%; }
        }
        .html {
            animation: html-animation 3s normal forwards;
        }
        @keyframes html-animation {
            0%   {  width: 0%; }
            100% {  width: 95%; }
        }
        .css {
            animation: css-animation 3s normal forwards
        }
        @keyframes css-animation {
            0%   {  width: 0%; }
            100% {  width: 85%; }
        }
        .js {
            animation: js-animation 3s normal forwards
        }
        @keyframes js-animation {
            0%   {  width: 0%; }
            100% {  width: 70%; }
        }
        .py {
            animation: py-animation 3s normal forwards
        }
        @keyframes py-animation {
            0%   {  width: 0%; }
            100% {  width: 90%; }
        }
        .sql {
            animation: sql-animation 3s normal forwards
        }
        @keyframes sql-animation {
            0%   {  width: 0%; }
            100% {  width: 80%; }
        }
    </style>

    {% comment %} <script>
        let html_progress = 0;
        let html_invervalSpeed = 10;
        let html_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let html_bar = document.querySelector('.html');
            html_progressInterval = setInterval(function(){
            html_progress += html_incrementSpeed;
            html_bar.style.width = html_progress + "%";
            if(html_progress >= 95){
                clearInterval(html_progressInterval);
            }
        }, html_invervalSpeed);
    });

        let css_progress = 0;
        let css_invervalSpeed = 10;
        let css_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let css_bar = document.querySelector('.css');
            css_progressInterval = setInterval(function(){
            css_progress += css_incrementSpeed;
            css_bar.style.width = css_progress + "%";
            if(css_progress >= 80){
                clearInterval(css_progressInterval);
            }
        }, css_invervalSpeed);
    });

        let js_progress = 0;
        let js_invervalSpeed = 10;
        let js_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let js_bar = document.querySelector('.js');
            js_progressInterval = setInterval(function(){
            js_progress += js_incrementSpeed;
            js_bar.style.width = js_progress + "%";
            if(js_progress >= 60){
                clearInterval(js_progressInterval);
            }
        }, js_invervalSpeed);
    });

    let py_progress = 0;
    let py_invervalSpeed = 10;
    let py_incrementSpeed = 1;
    document.addEventListener("DOMContentLoaded", function(){
        let py_bar = document.querySelector('.py');
        py_progressInterval = setInterval(function(){
        py_progress += py_incrementSpeed;
        py_bar.style.width = py_progress + "%";
        if(py_progress >= 80){
            clearInterval(py_progressInterval);
        }
    }, py_invervalSpeed);
});

    let sql_progress = 0;
    let sql_invervalSpeed = 10;
    let sql_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
        let sql_bar = document.querySelector('.sql');
        sql_progressInterval = setInterval(function(){
        sql_progress += sql_incrementSpeed;
        sql_bar.style.width = sql_progress + "%";
        if(sql_progress >= 85){
            clearInterval(sql_progressInterval);
        }
    }, sql_invervalSpeed);
});

    </script> {% endcomment %}
</div>

{% endblock %}
