{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}
{% comment %} {% for blog in blogs %}
    {{blog.title}}
    <img src="{{blog.thumbnail_img.url}}">
{% endfor %} {% endcomment %}
{% comment %} <div class="container mx-auto p-5 bg-gray-800 text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 bg-gray-900 p-5">
      <div class="flex justify-center">
        <img class="rounded-lg max-w-80 md:max-w-sm h-auto" src="{% static 'images/password-generator.png' %}" alt="image">
      </div>
      <div class="flex justify-center">
        <p>Text</p>
      </div>
    </div>
  </div> {% endcomment %}
  {% comment %} <div class='md:p-20 lg:p-40 bg-gray-800'>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-5">
        <div class="bg-green-100 text-green-500 text-lg font-bold text-center p-14 rounded-lg">1</div>
        <div class="bg-green-100 text-green-500 text-lg font-bold text-center p-14 rounded-lg">2</div>
    </div>
</div> {% endcomment %}

<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
    <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Blog</p>
    {% for blog in blogs %}
        <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
            <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="{{blog.thumbnail_url}}" alt="image">
            <div>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='/blogpost/{{blog.slug}}'><span class='text-xl font-extrabold'>{{blog.title|slice:80}}</span></a><br>
                <p class='my-3'>{{blog.meta|slice:180|safe}}</p>
                <p class='mt-2 mb-4 text-gray-400'>by  <i class="bi bi-person"></i>  <a href='/about' class='group transition-all duration-500 ease-out'><span class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>Baptiste</span></a> <i class="bi bi-dot"></i> <span><i class="bi bi-calendar4-event"></i> {{blog.time}}</span> <i class="bi bi-dot"></i><i class="bi bi-tag"></i> <a href='/category/{{blog.category}}' class='group transition-all duration-500 ease-out'><span class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>{{blog.category}}</span></a></p>
                {% comment %} <a class='text-sm bg-gray-700 py-1 px-3 rounded-full' href='/category/{{blog.category}}'><i class="bi bi-tag"></i> {{blog.category}}</a><br><br> {% endcomment %}
                <a href='/blogpost/{{blog.slug}}'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Lire la suite <i class="bi bi-arrow-right font-extrabold"></i></button></a>
            </div>
        </div>
    {% endfor %}
    <div class="pagination py-8">
      <span class="page-links">
        {% if blogs.has_previous %}
        <div class='float-left'>
          <a class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3' href="?page={{ blogs.previous_page_number }}"><i class="bi bi-arrow-left font-extrabold"></i> Previous</a>
        </div>
        {% endif %}
    
        {% comment %} <span class="page-current">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </span> {% endcomment %}
    
        {% if blogs.has_next %}
        <div class='float-right'>
          <a class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3' href="?page={{ blogs.next_page_number }}">Next <i class="bi bi-arrow-right font-extrabold"></i></a>
        </div>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
